# Entornos virtuales
.venv/
venv/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración del editor
.vscode/

# Base de datos local
data/*.db